## ide
**/.idea
**/*.iml
**/rebel.xml

## backend
**/target
**/logs

## front
# **/jeecgboot-vue3-masters
**/node_modules

## frame doc
## **/.gitee
## **/.github
## **/db
## doc



doc/最终确认11.24/表格3--供应商录入(1).xls
doc/富强建设-功能清单.xlsx
doc/最终确认11.24/1205沟通记录.txt
doc/最终确认11.24/表格1--职工录入(1).xls
doc/最终确认11.24/表格2--劳务人员录入(1).xls
doc/最终确认11.24/表格4--项目登记(1).xls
doc/最终确认11.24/表格5--信息价格(1).xls
doc/最终确认11.24/表格6--盖章申请管理(1).xls
doc/最终确认11.24/表格7--工作计划(1).xlsx
doc/最终确认11.24/表格8--经营附表.xlsx
doc/最终确认11.24/表格9-第一部 项目成本计划表.xls
doc/最终确认11.24/表格9-第二部分项目财务相关主要管理表格(11.23).xls
doc/附表--业绩管理(1).xlsx
doc/附表--人员管理.xls
doc/附表--农民工及供应商管理.xls
doc/项目财务相关主要管理表格2022-11.xls
